<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../partials/head'); %>
        <title>Home</title>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    
    <div class="container">
        <%- include('../partials/msg'); %>
        
        <h2>Lista de categoria</h2>
        <%=  category.name %>
    </div>

</body>
<script src="/js/bootstrap.min.js"></script>
</html>